<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="OpKeyStudio">
         <property
               name="lifeCycleURI"
               value="bundleclass://OpKeyStudio/opkeystudio.E4LifeCycle">
         </property>
         <property
               name="appName"
               value="OpKeyStudio">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="opkeystudio.splashHandlers.InteractiveSplashHandler"
            id="opkeystudio.splashHandlers.interactive">
      </splashHandler>
      <splashHandlerProductBinding
            productId="OpKeyStudio.product"
            splashId="opkeystudio.splashHandlers.interactive">
      </splashHandlerProductBinding>
   </extension>

</plugin>
